#  Lists
- Ordered
- all elements are mutable (changed)
- Always in [ ]
- output is also a list
 
 Example: Shopping Cart, Task Management

In [2]:
# Creating a list
my_list = [1, 2, 3, 4, 5]
    
# Accessing elements
print(my_list[0])  # Output: 1
    
# Adding elements
my_list.append(6)
print(my_list)  # Output: [1, 2, 3, 4, 5, 6]

# Removing elements
my_list.remove(2)
print(my_list)  # Output: [1, 3, 4, 5, 6]
    
# Slicing
print(my_list[1:4])  # Output: [3, 4, 5]

1
[1, 2, 3, 4, 5, 6]
[1, 3, 4, 5, 6]
[3, 4, 5]

**Quest: create a list with a name "tasks" and add elements like "buy groceries", "cleaning", "pay bills". Then use append funtion to add extra element "cooking" to the same list.**

In [27]:
# create "tasks" list
tasks = ["buy groceries", "cleaning", "pay bills"]
print(tasks)

# add "cooking" to the list
tasks.append("cooking")
print(tasks)

['buy groceries', 'cleaning', 'pay bills']
['buy groceries', 'cleaning', 'pay bills', 'cooking']

#  Tuples
- cannot be changed (unmutable)
- heterogenous elements are stored
- always created within ( )
- Only you can access the elements

 Example: Geographic Coordinates, Database storage

In [ ]:
# Creating a tuple
my_tuple = (1, 2, 3, 4, 5)

# Accessing elements
print(my_tuple[0])  # Output: 1

# Tuples are immutable
# my_tuple[1] = 10  # This will raise a TypeError

# Slicing
print(my_tuple[1:4])  # Output: (2, 3, 4)

**Quest: create a tuple of geographic coordinates with a name "location" & coordiantes "70.12345","-71.23167". Now perform functions to access first at position 0 and then at position 1.**

In [28]:
location = ("70.12345","-71.23167")

# access the elements
print(location[0])
print(location[1])

70.12345
-71.23167

#  Dictionaries
- can be created in { }
- created in pair of Keys : Values
- they are mutable
- keys are always unique, values can be duplicated

Example: Movie database, Books database

In [3]:
# Creating a dictionary
my_dict = {'name': 'Alice', 
           'age': 25, 
           'city': 'New York'}

# Accessing values
print(my_dict['name'])  # Output: Alice

# Adding key-value pairs
my_dict['email'] = 'alice@example.com'
print(my_dict)  # Output: {'name': 'Alice', 'age': 25, 'city': 'New York', 'email': 'alice@example.com'}

# Removing key-value pairs
del my_dict['age']
print(my_dict)  # Output: {'name': 'Alice', 'city': 'New York', 'email': 'alice@example.com'}

Alice
{'name': 'Alice', 'age': 25, 'city': 'New York', 'email': 'alice@example.com'}
{'name': 'Alice', 'city': 'New York', 'email': 'alice@example.com'}

**Quest: create a dictionary of Book Dataset, where you can where you can take book title along with their genre and at least add 5 books to it.**

In [30]:
book_dataset = {"THE NEW GIRL": "Comics",
                "The Diary of a Young Girl": "Classics",
                "Bright and Tender Dark": "Crime",
                "Of Jade and Dragons": "Fantasy",
                "White Octopus": "Poetry"}
print(book_dataset)

{'THE NEW GIRL': 'Comics', 'The Diary of a Young Girl': 'Classics', 'Bright and Tender Dark': 'Crime', 'Of Jade and Dragons': 'Fantasy', 'White Octopus': 'Poetry'}

#  Sets
- unordered elements
- unique elements
- mutable
- no indexing

Example: Social Media Analytics, Website Analytics

In [4]:
# Creating a set
my_set = {1, 2, 3, 4, 5}

# Adding elements
my_set.add(6)
print(my_set)  # Output: {1, 2, 3, 4, 5, 6}

# Removing elements
my_set.remove(3)
print(my_set)  # Output: {1, 2, 4, 5, 6}

# Set operations
another_set = {4, 5, 6, 7, 8}
print(my_set & another_set)  # Output: {4, 5, 6} (intersection)
print(my_set | another_set)  # Output: {1, 2, 4, 5, 6, 7, 8} (union)
print(my_set - another_set)  # Output: {1, 2} (difference)
print(another_set - my_set) # Output: {8, 7} (difference)

{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6}
{4, 5, 6}
{1, 2, 4, 5, 6, 7, 8}
{1, 2}
{8, 7}

In [5]:
## How can you convert a list of tuples into a dictionary in Python?
list_of_tuples = [('name', 'Alice'), ('age', 25), ('city', 'New York')]
my_dict = dict(list_of_tuples)
print(my_dict)  # Output: {'name': 'Alice', 'age': 25, 'city': 'New York'}

students = [('Akalu', (80, 91, 88)), ('Sam', (82, 92, 93))]
students_dict = {names: grades for names, grades in students}
print(students_dict)

{'name': 'Alice', 'age': 25, 'city': 'New York'}
{'Akalu': (80, 91, 88), 'Sam': (82, 92, 93)}

In [7]:
## How can you merge two dictionaries in Python?
dict1 = {'name': 'Alice', 'age': 25}
dict2 = {'city': 'New York', 'email': 'alice@example.com'}

# Using update()
dict1.update(dict2)
print(dict1)  # Output:  {'name': 'Alice', 'age': 25, 'city': 'New York', 'email': 'alice@example.com'}

# Using dictionary unpacking (Python 3.5+)
merged_dict = {**dict1, **dict2}
print(merged_dict)  # Output: {'name': 'Alice', 'age': 25, 'city': 'New York', 'email': 'alice@example.com'}

{'name': 'Alice', 'age': 25, 'city': 'New York', 'email': 'alice@example.com'}
{'name': 'Alice', 'age': 25, 'city': 'New York', 'email': 'alice@example.com'}

# What are the main differences between lists and tuples in Python?
Answer:

- Mutability: Lists are mutable (elements can be changed), whereas tuples are immutable (elements cannot be changed).
- Syntax: Lists use square brackets [], while tuples use parentheses ().
- Performance: Tuples are generally faster than lists because they are immutable.
- Usage: Tuples are used for heterogeneous data (different data types), and lists are used for homogeneous data (similar data types).

In [6]:
# How do you reverse a list in Python?
my_list = [1, 2, 3, 4, 5]

# Using reverse() method
my_list.reverse()
print(my_list)  # Output: [5, 4, 3, 2, 1]

# Using slicing
my_list = [1, 2, 3, 4, 5]
reversed_list = my_list[::-1]
print(reversed_list)  # Output: [5, 4, 3, 2, 1]

[5, 4, 3, 2, 1]
[5, 4, 3, 2, 1]

In [8]:
# How can you sort a list in Python?
my_list = [3, 1, 4, 1, 5, 9]

# Using sort() method (sorts in-place)
my_list.sort(reverse=True)
print(my_list)  # Output: [9, 5, 4, 3, 1, 1]

# Using sorted() function (returns a new sorted list)
sorted_list = sorted(my_list)
print(sorted_list)  # Output: [1, 1, 3, 4, 5, 9]

[9, 5, 4, 3, 1, 1]
[1, 1, 3, 4, 5, 9]

In [9]:
# How can you concatenate two tuples in Python?
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2
print(concatenated_tuple)  # Output: (1, 2, 3, 4, 5, 6)

(1, 2, 3, 4, 5, 6)

# Practice

 **Lists:**
 
 Question - Appending and Removing Elements: Create an empty list called my_list. Append
 the numbers 1, 2, and 3 to my_list. Then remove the number 2 from the list.

In [11]:
# create one empty list
my_list = []
print(my_list)      #[]

# append 1,2,3  # one number at a time
my_list.append(1)
my_list.append(2)
my_list.append(3)
print(my_list)      #[1,2,3]

# remove 2
my_list.remove(2)
print(my_list)      #[1,3]

[]
[1, 2, 3]
[1, 3]

 Question- Accessing Elements: Create a list called fruits containing the strings "apple",
 "banana", "cherry", "date". Print the second element of the list.

In [12]:
# A list called "fruits" with elements
fruits = ["apple","banana","cherry","date"]

# the second element = position 1   # "apple" in position 0
print(fruits[1])    #banana

banana

Question- Slicing: Create a list called numbers containing the numbers from 1 to 10. Print a slice of the list containing elements from the third element to the sixth element.

In [21]:
# A list called "numbers" with numbers
numbers = list(range(1,11))
print(numbers)
# numbers = [1,2,3,4,5,6,7,8,9,10]

# the third element to the sixth element = position 2-5
print(numbers[2:6])       # [3, 4, 5, 6]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[3, 4, 5, 6]

**Sets**

Question - Adding and Removing Elements: Create an empty set called my_set. Add the numbers 1, 2, and 3 to my_set. Then remove the number 2 from the set.

In [20]:
# create an empty set
my_set = set()
# I cannot use my_set = {}. this is recognized as a dictionary

# add 1,2,3
my_set.add(1)
my_set.add(2)
my_set.add(3)
print(my_set)   # {1, 2, 3}

# remove 2
my_set.remove(2)
print(my_set)   # {1, 3}

{1, 2, 3}
{1, 3}

Question - Operations: Create two sets called set1 and set2, each containing a few numbers. Print the union, intersection, and difference of the two sets.

In [22]:
# create two sets
set1 = {1,2,5,9,11}
set2 = {2,3,5,7,13}

# union
print(set1 & set2) # {2, 5}

# intersection
print(set1 | set2) # {1, 2, 3, 5, 7, 9, 11, 13}

# differences
print(set1 - set2) # {1, 11, 9}
print(set2 - set1) # {3, 13, 7}

{2, 5}
{1, 2, 3, 5, 7, 9, 11, 13}
{1, 11, 9}
{3, 13, 7}

**Tuples**
 
Question - Accessing Elements: Create a tuple called coordinates containing the latitude and longitude of a location (e.g., (40.7128, -74.0060) for New York City). Print the latitude and longitude separately.

In [29]:
# create a tuple
coordinates = ("40.7128", "-74.0060")

# print the latitude and longitude # first + second element = position 0 + 1
print(coordinates[0])
print(coordinates[1])

40.7128
-74.0060

Question - Packing and Unpacking: Create a tuple called person containing information about a person, such as their name, age, and city. Then unpack the tuple into individual variables.

In [24]:
# create a tuple
person = ("Yiqiu", 24, "Norrköping")

# name the individual variables
name,age,city = person

# print the variables
print(name)
print(age)
print(city)

Yiqiu
24
Norrköping